@include test-module("str-ucwords") {
  // Testing str-ucwords functions
  @include test("str-ucwords [function] turns first letter of $string into lower case.") {

    $expect: "Lorem Ipsum Dolor Sit Amet, Consectetur Adipisicing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et Dolore Magna Aliqua.";

    @include assert-equal(str-ucwords("Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."), $expect, "should lower case first character from string.");
  }
}
