@include test-module("trim") {
  // Testing trim functions
  @include test("trim [function] Remove space.") {
    $content: trim("        ");

    $expect: "";

    @include assert-equal($content, $expect, "Check if space is removed.");
  }

  @include test("trim [function] Remove no space.") {
    $content: trim("no spaces");

    $expect: "no spaces";

    @include assert-equal($content, $expect, "Check if no space is removed.");
  }

  @include test("trim [function] Remove 3 space on front.") {
    $content: trim("   3 spaces in front");

    $expect: "3 spaces in front";

    @include assert-equal($content, $expect, "Check if 3 spaces are removed.");
  }

  @include test("trim [function] Remove 3 space on front and back.") {
    $content: trim("   3 spaces in front and back   ");

    $expect: "3 spaces in front and back";

    @include assert-equal($content, $expect, "Check if 3 spaces are removed.");
  }

  @include test("trim [function] Remove lots of space.") {
    $content: trim("          lots and lots of spaces");

    $expect: "lots and lots of spaces";

    @include assert-equal($content, $expect, "Check if space are removed.");
  }
}
