@charset "UTF-8";

/// Capitalize each word in string
///
/// @param {string} $string
///
/// @return {string}
@function str-ucwords($string) {
  $string: unquote($string);

  @if type-of($string) != "string" {
    @error "`str-ucwords` function expecting a string for $string; #{type-of($string)} given.";
  }

  $progress: $string;
  $result: "";

  $running: true;

  @while $running {
    $index: str-index($progress, " ");

    @if $index {
      $result: $result + str-ucfirst(str-slice($progress, 1, $index));
      $progress: str-slice($progress, ($index + 1));
    } @else {
      $running: false;
    }
  }

  @return str-ucfirst($result) + str-ucfirst($progress);
}
